
<%- include('partials/header.html') %>
       
<section class="outras-noticias">
 <div class="titulo-outras-noticias">
     <h2>Busca</h2>
     <br></br>
     <div class="center">
         
         <div style="width: 100%;" class="mais-lidas">
             <h3>33 resultados</h3>
             <div class="mais-lidas-noticias">
                 <div class="mais-lidas-noticias-single">
                     <img src="/public/images/arvores.png" alt="">
                     <div class="texto-mais-lida-single">
                         <h4>Natureza</h4>
                         <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                         <a href="/encarar-o-surf">Saiba mais</a>
                     </div>
                 </div>
                 <div class="mais-lidas-noticias-single">
                     <img src="/public/images/deserto.png" alt="">
                     <div class="texto-mais-lida-single">
                         <h4>Natureza</h4>
                         <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                         <a href="/encarar-o-surf">Saiba mais</a>
                     </div>
                 </div>
                 <div class="mais-lidas-noticias-single">
                     <img src="/public/images/estetoscopio.png" alt="">
                     <div class="texto-mais-lida-single">
                         <h4>Natureza</h4>
                         <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                         <a href="/encarar-o-surf">Saiba mais</a>
                     </div>
                 </div>
                 
             </div>

         </div>
     </div>
 </div>
</section>
<%- include('partials/footer.html') %>
</body>

</html>