
<%- include('partials/header.html') %>
       
       <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="titulo-destaque-descricao">
                        <a href="<%=posts[0].slug %>>"><h2><%= posts[0].titulo%></h2></a>
                        <p><%- posts[0].descricaoCurta %>...</p>
                    </div>
                    <img src="<%= posts[0].imagem %>" alt="">

                </div>
            </div> <!--center-->
       </section>
       <section class="outras-noticias">
        <div class="titulo-outras-noticias">
            <h2>Ultimas Noticias</h2>
            <br></br>
            <div class="center">
                <div class="ultimas">
                        <% for(let i = 1; i < posts.length; i++){%>
                            <div class="box-ultimas-single">
                                <img src="<%= posts[i].imagem %>" alt="">
                                <div class="conteudo-noticia-single">
                                    <h3><%= posts[i].categortia %></h3>
                                    <h2><%= posts[i].titulo %></h2>
                                    <p><%- posts[i].descricaoCurta %>...</p>
                                    <a href="<%= posts[i].slug %>">Saiba mais</a>
                                </div>
                            </div>
                        <% } %>

                </div>
                <div class="mais-lidas">
                    <h3>Mais lidas</h3>
                    <div class="mais-lidas-noticias">
                        <% for(let i = 0; i < posts.length; i ++){%>
                            <div class="mais-lidas-noticias-single">
                                <img src="<%= posts[i].imagem %>" alt="">
                                <div class="texto-mais-lida-single">
                                    <h4><%= posts[i].titulo%></h4>
                                    <p><%- posts[i].descricaoCurta %>...</p>
                                    <a href="<%= posts[i].slug %>">Saiba mais</a>
                                </div>
                            </div>
                       <% }%>
                        
                    </div>

                </div>
            </div>
        </div>
       </section>
       <%- include('partials/footer.html') %>
    </body>
    
</html>