
<%- include('partials/header.html') %>
       
       <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="titulo-destaque-descricao">
                        <h2>Quer fugir das praias de verão?</h2>
                        <p>Ao contrário da crença popular, Lorem Ipsum não é simplesmente um texto aleatório. Mais um pouco de blabla blabla para preencher esse espaco pois senao fica muito pequeno</p>
                    </div>
                    <img src="/public/images/lago.jpeg" alt="">

                </div>
            </div> <!--center-->
       </section>
       <section class="outras-noticias">
        <div class="titulo-outras-noticias">
            <h2>Ultimas Noticias</h2>
            <br></br>
            <div class="center">
                <div class="ultimas">
                        <div class="box-ultimas-single">
                            <img src="/public/images/surf.png" alt="">
                            <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf mesmo no frio</h2>
                                <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="box-ultimas-single">
                          <img src="/public/images/surf.png" alt="">
                          <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf mesmo no frio</h2>
                                <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                          </div>
                        </div>
                        
                </div>
                <div class="mais-lidas">
                    <h3>Mais lidas</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/arvores.png" alt="">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/deserto.png" alt="">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/estetoscopio.png" alt="">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
       </section>
       <%- include('partials/footer.html') %>
    </body>
    
</html>