<%- include('partials/header.html') %>
<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span>Por <%= noticia.autor %></span>
            </div>
                </br>
                <div><img style="max-width: 100%;" src="<%= noticia.imagem%>" alt=""></div>
                 </br>
                <%- noticia.conteudo%>
            </div>
        <div class="mais-lidas">
            <h3>Mais lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/arvores.png" alt="">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                        <a href="/encarar-o-surf">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/deserto.png" alt="">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                        <a href="/encarar-o-surf">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/estetoscopio.png" alt="">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção</p>
                        <a href="/encarar-o-surf">Saiba mais</a>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>
<%- include('partials/footer.html') %>
